body {
    background: #a46eed;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#three-js-canvas {
    position: absolute;
    inset: 0;
    display: block;
    z-index: 0;
}

.ui-font {
    font-family: "Kranky", serif;
    font-weight: 400;
    font-size: clamp(1.5rem, 3vw, 5rem);
    font-style: normal;
}

.player_details {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
    pointer-events: none;
}

.player-box-1 {
    z-index: 100;
}

.player-box-2 {
    z-index: 100;
}

.player_details .player-box:last-child {
    margin-left: auto;
}

.p1-buttons {
    font-family: "Kranky", serif;
    font-weight: 400;
    font-size: clamp(2rem, 2.5vw, 5rem);
    font-style: normal;
    pointer-events: none;
}
.p2-buttons {
    font-family: "Kranky", serif;
    font-weight: 400;
    font-size: clamp(2rem, 2.5vw, 5rem);
    font-style: normal;
    pointer-events: none;
}

.status-message {
    display: none;
    width: 25vw;

    height: 2vh;
    text-align: center;
    padding: 12px;
    z-index: 100;
    position: absolute;
    top: 50%;
    opacity: 1;
    left: 37.5vw;
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    opacity: 0.5;
    font-style: normal;
    font-size: clamp(1.5rem, 4vw, 5rem);
    pointer-events: none;
}

.host-join-button {
    background-color: #ff5c00;
    padding: 10px;
    width: 20vw;
    font-family: "Kranky", serif;
    font-size: clamp(1.5rem, 3vw, 4rem);
    height: 10vh;
    border-color: #000000;
    border-radius: 10%;
    opacity: 0.8;
    color: white;
}

.rules {
    display: block;
    position: absolute;
    padding: 12px;
    inset: 0;
    z-index: 100;
    opacity: 1;
    font-family: "Kranky", serif;
    font-weight: 400;
    width: 80vw;
    opacity: 1;
    font-style: normal;
    font-size: clamp(1rem, 2vw, 2rem);
    pointer-events: none;
}

.rules-cat {
    margin-bottom: 5vh;
}

.rules-indent {
    margin-left: 2vw;
    margin-bottom: 2vh;
}

.back-arrow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    cursor: pointer;
}

.intro-scene {
    display: none;
    width: 50%;
    padding: 5%;
    color: #ffffff;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.arrow {
    width: clamp(1vw, 5vw, 8vw);
}

.winner-message {
    display: block;
    width: 25vw;

    height: 2vh;
    text-align: center;
    padding: 12px;
    z-index: 100;
    position: absolute;
    top: 50%;
    opacity: 1;
    left: 37.5vw;
    font-family: "Luxurious Roman", serif;
    font-weight: 400;
    opacity: 1;
    font-style: normal;
    font-size: clamp(1.5rem, 4vw, 5rem);
}

#player-turn {
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 2vw, 3rem);
    pointer-events: none;
}

.buy-patch {
    background-image: linear-gradient(to right, #87ceeb, #747880);
    position: absolute;
    display: block;
    width: 20vw;
    height: 10vh;
    padding: 3vw;
    z-index: 100;
    top: 50%;
    left: 30%;
}

.status-message.show {
    display: block;
    animation: fadeout 1.5s linear;
}

@keyframes fadeout {
    from {
        top: 50%;
        opacity: 1;
    }
    to {
        top: 0%;
        opacity: 0;
        display: none;
    }
}

.patch-info {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 1vw;
    z-index: 100;
    font-family: "Kranky", serif;
    font-weight: 400;

    font-size: clamp(0.5rem, 3vw, 3rem);
    font-style: normal;
}

.patch-attrs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 15px;
}

.patch-label {
    justify-self: start;
}

.patch-value {
    justify-self: end;
}
